/* Base reset in favor of app.css and theme.css */
* { box-sizing: border-box; }
body { margin: 0; }
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
